<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js" defer></script>
    
</head>
<body>
    
    <h1>Signup</h1>
    
    <form action="/login" method="post" id="signup" novalidate>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
        </div>
        
        <div>
            <label for="email">email</label>
            <input type="email" id="email" name="email" required>
        </div>
        
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        
        <div>
            <label for="password_confirmation">Repeat password</label>
            <input type="password" id="password_confirmation" name="password_confirmation" required>
        </div>
        <div>
            <label for="roles">Role</label>
            <select id="roles" name="roles" required>
                <option value="" disabled selected>Select your role</option>
                <option value="tutor">Tutor</option>
                <option value="student">Student</option>
            </select>
        </div>
        <button>Sign up</button>
    </form>
    <script src="script.js"></script>
</body>
</html>









